{% extends 'base.html' %}
{% block content %}
<div class="container">
      <h1>Writings</h1>
      <form action="" method="post">
         {{ form.hidden_tag() }}
         <p>
            {{ form.author.label }}<br>
            {{ form.author(size=32) }}<br>
            {% for error in form.author.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
         </p>
         <p>
            {{ form.text.label }}<br>
            {{ form.text(cols=100, rows=10) }}<br>
            {% for error in form.text.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
         </p>
         <p>{{ form.submit() }}</p>
      </form>
</div>
{% endblock %}